/* Global Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Button Styles */
  .btn {
    padding: 10px 60px;
    background: #000;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
  }
  
  .btn1 {
    background-color: none;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    margin-left: 8rem;

  }
  
  /* Popup Styles */
  .popup {
    width: 400px;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    height:900px;
  }
  
  .open-popup {
    visibility: visible;
    top: 50%;
    width: fit-content;
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* Model Styles */
  #model {
    width: 320px;
    height: 790px;
    background: #fff6ef;
    box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.594);
    border-radius: 6px;
    margin-top:8rem;
  }
  
  .fl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #header {
    background: linear-gradient(270.04deg, #fffae0 0.03%, rgba(240, 255, 246, 0) 99.96%);
    height: 51px;
    position: relative;
  }
  
  .header-top {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00252f;
   display: grid;
   place-items: center;
   align-content: center;
   text-align: center;
}
  
  .header-section-inside {
    margin-left: 2rem;
  }
  
  .header-section-inside-span,
  .header-section-inside-malaysia {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  
  .header-section-inside-span {
    color: rgba(0, 37, 47, 0.56);
  }
  
  .header-section-inside-resident {
    font-size: 12px;
    line-height: 14px;
    color: #888888;
  }
  
  .header-section-inside-malaysia {
    padding-top: 4px;
    color: #666666;
  }
  
  /* Image Styles */
  #image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
  }
  